
/* >>> Fonts <<< */
	.header-middle p {
		font-family: Montserrat;
		font-size: 1.5em; /* Change in height causes the other images to float to the top. */
		letter-spacing: 10px; 
		text-transform: uppercase;
	}

	#logo {
		font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
		font-size: 2em;
	}

/* >>> Visibility <<< */
	.hidden-content {
		display: none;
	}

	.linus .timeline-content > h2 {
		visibility: hidden;
	}

	.linus .timeline-content > p {
		visibility: hidden;
	}

	.helen .timeline-content > h2 {
		visibility: hidden;
	}

	.helen .timeline-content > p {
		visibility: hidden;
	}